[submodule "local/PG"]
	path = local/PG
	url = https://github.com/ProofGeneral/PG
[submodule "site-lisp/mgit"]
	path = site-lisp/mgit
	url = https://github.com/magit/magit.git
[submodule "local/mgit"]
	path = local/mgit
	url = https://github.com/magit/magit.git
